@{
    ViewBag.Title = "Access Denied";
    Layout = "_Layout";
}
<h4 class="bg-danger text-white text-center p-2">Доступ запрещен</h4>

<div class="form-row text-center">
    <h6>У вас не хватает прав доступа</h6>
    <a class="btn btn-outline-danger" href="/">OK</a>
</div>
