@model CourseWork.Models.Suggestion?

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Информация о предложении</title>
</head>
<body>
<div>
    <h4>@Model.Theme</h4>
    @if (Model?.ImageData != null)
    {
        <img style='width:800px; display: block; margin-left: auto; margin-right: auto;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ImageData))" alt="image"/>
    }
    <dl class="row">
        <dt class="col-sm-3">Описание:</dt>
        <dd class="col-sm-9"><p>@Model.Text</p></dd>

        <dt class="col-sm-3">Дата добавления:</dt>
        <dd class="col-sm-9">@Model.CreationDate</dd>
    </dl>
</div>
</body>
</html>