@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в автоматическую систему тестирования!</h1><br>
    <p>В данной системе пользователи имеют возможность зарегистироваться и проходить тесты по различным тематикам и просматривать свои ответы. Для преподавателей дополнительно добавлен функционал, позволяющий создавать, редактировать и удалять тесты. Также имеется возможность устанавливать ограничения по времени на тест и на количество вопросов, изменять порядок появления вопросов, просматривать статистику по тестам и пользователям и уведомлять выбранных пользователей о предстоящих тестах.</p>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-outline-dark" asp-controller="Suggestion" asp-action="CreateSuggestion">Предложить идею по улучшению системы тестирования!</a>
    }
</div>